body {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
    margin: 0;
    padding: 0 20px;
}
.badge {
    background-color: var(--vscode-activityBarBadge-background);
    color: var(--vscode-activityBarBadge-foreground);
    border-radius: 5px;
}
.list {
    padding: 5px 5px;
    display: block;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* line-height: 150%; */
    margin: 2px 2px;
}
.list:hover, .list.active {
    background-color: rgba(0, 0, 0, 0.2);
}
a {
    cursor: pointer;
}
#viewer {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.remotecalls {
    padding-right: 0px;
    max-height: 98vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* width */
.remotecalls::-webkit-scrollbar,.tab-content::-webkit-scrollbar {
    width: 2px;
  }
.rcdetails {
    white-space: -webkit-pre-wrap;
    /* Chrome & Safari */
    white-space: pre-wrap;
    /* CSS3 */
    word-break: break-all;
    white-space: normal;
}

.rcdetails .tab-content {
    padding: 10px 15px;
    max-height: 90vh;
    overflow-y: scroll;
}

.gutter.gutter-horizontal {
    cursor: ew-resize;
    background-color: var(--vscode-dropdown-background);
}

.tab {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.tab > a {
    padding: 10px 10px;
    background-color: var(--vscode-titleBar-activeBackground);
}
.tab > a.active {
    background-color: var(--vscode-titleBar-inactiveBackground);
}


.long-content {
    /* white-space: nowrap; */
    /* width: calc(100% - 40em); */
    /* overflow: hidden; */
    text-overflow: ellipsis;
}