body {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size - 2);
    margin: 0;
    padding: 0 5px;
}
.finder {
    display: block;
    position: fixed;
    width: 250px;
    right: 5px;
    top: 5px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.7);
}
.finder input {
    width: 220px;
    padding: 5px 5px;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    outline: none;
    border: none;
}
.badge {
    background-color: var(--vscode-activityBarBadge-background);
    color: var(--vscode-activityBarBadge-foreground);
    display: inline-block;
    width: 30px;
    border-radius: 5px;
    font-size: 9px;
    padding: 2px 4px;
    text-align: center;
}
mark{
    background: orange;
    color: black;
}
.list {
    padding: 5px 5px;
    display: block;
    word-break: break-all;
    width: 100%;
    margin: 2px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5) ;
    background-color: rgba(0, 0, 0, 0.2);
}
.list:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.4);
}
.list:hover, .list.active {
    background-color: rgba(0, 0, 0, 0.9);
}
a {
    cursor: pointer;
}
#viewer {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.remotecalls {
    padding-right: 0px;
    max-height: 98vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px 3px;
    margin-right: 2px;
}

/* width */
.remotecalls::-webkit-scrollbar,.tab-content::-webkit-scrollbar {
    width: 2px;
  }
.rcdetails {
    white-space: -webkit-pre-wrap;
    /* Chrome & Safari */
    white-space: pre-wrap;
    /* CSS3 */
    word-break: break-all;
    white-space: normal;
}
p.code span {
    white-space: pre-wrap;
    /* CSS3 */
    word-break: break-all;
    color: var(--vscode-textPreformat-foreground);
}

p.code textarea{
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    height: 300px;
    margin-left: 45px;
    color: var(--vscode-textPreformat-foreground);
    background-color: var(--vscode-editor-background);
}

.rcdetails .tab-content {
    padding: 10px 15px;
    max-height: 90vh;
    overflow-y: scroll;
}

.gutter.gutter-horizontal {
    cursor: ew-resize;
    background-color: var(--vscode-dropdown-background);
    flex-basis: 5px!important;
}

.gutter.gutter-horizontal:hover {
    background-color: #5050DB;
}

.tab {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.tab > a {
    padding: 10px 10px;
    background-color: var(--vscode-titleBar-activeBackground);
}
.tab > a.active {
    background-color: var(--vscode-titleBar-inactiveBackground);
}

.tab > a.active::before {
    content: "> ";
    border-top: 2px solid var(--vscode-textLink-activeForeground); 
}
/* 
.tab > a.active::after {
    content: " < ";
} */

.long-content {
    /* white-space: nowrap; */
    /* width: calc(100% - 40em); */
    /* overflow: hidden; */
    text-overflow: ellipsis;
}